<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3 mt-3 mr-5 ">
                <p class="text-light bg-info col-12 p-2 m-0">JOBBSONTABLE</p>
                <p class="text-light bg-warning col-12 ml-4 p-2 mt-2">DEMO</p> 
            </div>
        </div>

        <!-- INICIO DEMO COMPLETA -->
        <div class="row justify-content-start">
            <div class="col-10 mt-3 h-25 d-inline-block ">
                <div class="card border-info shadow">
                    <h5 class="card-header bg-info text-white ">DEMO</h5>
                    <div class="card-body">
                        <jobbs-on-table 
                          v-model="arrData"
                          ref="jobbsontableMain"

                          :rightClick="rightClickEventsJobbsontable"
                        ></jobbs-on-table>

                        <br>
                        <div class="row">
                           <input class="form-control col-2" v-model="campoValor" placeholder="Valor">
                           <button class="btn btn-success ml-2 col-2" @click="setarValorNaCelula">Setar valor na célula</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10 mt-3 ">
                <div class="card border-warning text-white shadow">
                    <h5 class="card-header bg-warning">DATA</h5>
                    <div class="card-body">
                        <textarea class="form-control border-0" v-model="textData" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DEMO COMPLETA -->

        <!-- INICIO INTRODUÇÃO DOCUMENTAÇÃO -->
        <div class="row justify-content-center">
            <div class="col-11 mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="text-justify text-break h3">DOCUMENTAÇÃO</p>
                        <hr>
                        <p class="text-justify"> O jobbsontable é um package que vai facilitar a sua vida, com ele voce vai poder criar tabelas com um array bidimensional, voce pode colocar eventos, personalizar o estilo de cada célula e muito mais. </p>
                        <br>
                        <p class="text-break h5"> SOBRE O COMPONENTE </p>
                        <hr>
                        <p class="text-justify text-justify"> O componente ele é feito em vue.js para montar a tabela do jobbsontable voce precisa passar o seu json array no atributo data no padrão exigido pelo componente, voce pode consultar mais detalhes nas linhas abaixo, o componente também possui alguns métodos o onkeydown e onkeyup, voce pode navegar pelas células utilizando os direcionais do teclado ( o movimento só ocorre para inputs e selects) quando o usuário pressionar a tecla para baixo (down) ou para cima (up) ele dispara a sua função retornando o um objeto com dois atributos o lineBefore e o lineAfter, ambos também são objetos contendo todos os valores da linha anterior (lineBefore) ao click para cima ou para baixo e a linha atual (lineAfter) que está no foco. </p>
                        <br>
                        <p class="text-break h5"> INSTALAÇÃO </p>
                        <hr>
                        <p class="text-justify text-justify"> A unica forma de instalação é pelo npm, por isso insira esse package no seu projeto. </p>
                        <div class="border-left border-dark bg-light">
                                <pre><code> > npm i jobbsontable </code></pre>
                        </div>
                        <br>
                        <p class="text-break h5"> USO BÁSICO </p>
                        <hr>
                        <div class="border-left border-dark bg-light">                        
                            <pre>
                                <code> 
    &lt;template&gt;
        &lt;div class="row"&gt;
            &lt;jobbs-on-table v-model="arrData"&gt;&lt;/jobbs-on-table&gt;
        &lt;/div&gt;
    &lt;/template&gt;

    &lt;script type="text/javascript"&gt;
        import jobbsOnTable from 'jobbsontable'
        export default {
            components: {
                jobbsOnTable
            },
            data() {
                return {
                    arrData: [ 
                        ['col1 line1', 'col2 line1'],
                        ['col1 line2', 'col2 line2']
                    ]
                }
            }
        }
    &lt;/script&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM INTRODUÇÃO DOCUMENTAÇÃO -->

        <!-- INICIO DEMO USO BÁSICO -->
        <div class="row justify-content-start">
            <div class="col-10 mt-3 h-25 d-inline-block ">
                <div class="card border-info shadow">
                    <h5 class="card-header bg-info text-white ">DEMO</h5>
                    <div class="card-body">
                        <jobbs-on-table 
                            v-model="arrDataBasico"
                        ></jobbs-on-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10 mt-3 ">
                <div class="card border-warning text-white shadow">
                    <h5 class="card-header bg-warning">DATA</h5>
                    <div class="card-body">
                        <textarea class="form-control border-0" v-model="textDataBasico" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DEMO USO BÁSICO -->

        <!-- INICIO ATRIBUTOS BÁSICOS -->
        <div class="row justify-content-center">
            <div class="col-11 mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="text-break h5"> ATRIBUTOS BÁSICOS </p>
                        <hr>
                        <div class="col-6">

                        </div>
                        <p class="text-justify"> São os atributos da célula, define a sua estrutura de exibição da célula. os tipos de atributos são.: </p>
                        <br>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">nome atributo</th>
                                    <th scope="col">tipo</th>
                                    <th scope="col">descrição</th>
                                    <th scope="col">default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">type</th>
                                    <td>String</td>
                                    <td>tipo da célula, ex.: text, input, select, money, etc.</td>
                                    <td>text</td>
                                </tr>
                                <tr>
                                    <th scope="row">length</th>
                                    <td>Integer</td>
                                    <td>Tamanho do valor da célula</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <th scope="row">mask</th>
                                    <td>String</td>
                                    <td>Máscara do campo, ex.: ##/##/####</td>
                                    <td>null</td>
                                </tr>
                                <tr>
                                    <th scope="row">options</th>
                                    <td>Array</td>
                                    <td>opções de escolha, <b>Apenas para type marcado como select</b> </td>
                                    <td>null</td>
                                </tr>
                                <tr>
                                    <th scope="row">disabled</th>
                                    <td>Boolean</td>
                                    <td> Desabilita o input ou select </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">name</th>
                                    <td>String</td>
                                    <td> Atributo name da input ou select </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p class="text-break h5"> USO DOS ATRIBUTOS </p>
                        <hr>
                        <div class="border-left border-dark bg-light">                        
                            <pre>
                                <code> 
    &lt;template&gt;
        &lt;div class="row"&gt;
            &lt;jobbs-on-table v-model="arrData"&gt;&lt;/jobbs-on-table&gt;
        &lt;/div&gt;
    &lt;/template&gt;

    &lt;script type="text/javascript"&gt;
        import jobbsOnTable from 'jobbsontable'
        export default {
            components: {
                jobbsOnTable
            },
            data() {
                return {
                    arrData: [ 
                        [
                            {
                                "value": "col-1 line-1",
                                "atribute": {
                                    "type": "input",
                                    "name": "campo1"
                                }
                            },
                            {
                                "value": "col-2 line-1",
                                "atribute": {
                                    "type": "select",
                                    "options": [
                                        {
                                            "label": "OPTION 01",
                                            "value": "01"
                                        },
                                        {
                                            "label": "OPTION 02",
                                            "value": "02"
                                        }
                                    ],
                                    "name": "campo2"
                                }
                            },
                            {
                                value: '',
                                atribute: {
                                    type: 'input'
                                }
                            }
                        ],
                        [
                            {
                                "value": "col-1 line-2",
                                "atribute": {
                                    "type": "input",
                                    "name": "campo3",
                                    "disabled": true
                                }
                            },
                            {
                                "value": "",
                                "atribute": {
                                    "type": "input",
                                    "name": "campo4",
                                    "mask": "##/##/####"
                                }
                            },
                            {
                                value: '2',
                                atribute: {
                                  type: 'input'
                                }
                            }
                        ]
                    ]
                }
            }
        }
    &lt;/script&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM ATRIBUTOS BÁSICOS -->

        <!-- INICIO DEMO ATRIBUTO -->
        <div class="row justify-content-start">
            <div class="col-10 mt-3 h-25 d-inline-block ">
                <div class="card border-info shadow">
                    <h5 class="card-header bg-info text-white ">DEMO</h5>
                    <div class="card-body">
                        <jobbs-on-table 
                            v-model="arrDataAtributo"
                        ></jobbs-on-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10 mt-3 ">
                <div class="card border-warning text-white shadow">
                    <h5 class="card-header bg-warning">DATA</h5>
                    <div class="card-body">
                        <textarea class="form-control border-0" v-model="textDataAtributo" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DEMO ATRIBUTO -->

        <!-- INICIO ESTILO -->
        <div class="row justify-content-center">
            <div class="col-11 mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="text-break h5"> ESTILIZANDO A CÉLULA </p>
                        <hr>
                        <p class="text-justify"> Define um estilo css para a célula. </p>
                        <p class="text-justify"> <b>obs.: voce também pode definir um nome de classe para a sua célula acresentando o campo className no objeto JSON da célula.</b> </p>
                        <br>
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">nome atributo</th>
                                    <th scope="col">descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">backgroundColor</th>
                                    <td>Cor de fundo da célula</td>
                                </tr>
                                <tr>
                                    <th scope="row">color</th>
                                    <td>Cor do texto da célula</td>
                                </tr>
                                <tr>
                                    <th scope="row">fontSize</th>
                                    <td>Tamanho da fonte da célula</td>
                                </tr>
                                <tr>
                                    <th scope="row">fontFamily</th>
                                    <td>estilo de fonte da célula</td>
                                </tr>
                                <tr>
                                    <th scope="row">border</th>
                                    <td>borda da célula, ex.: 4px solid black</td>
                                </tr>
                                <tr>
                                    <th scope="row">size</th>
                                    <td>Tamanho da célula, ex.: 10px, 10%</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p class="text-break h5"> USO DO ESTILO </p>
                        <hr>
                        <div class="border-left border-dark bg-light">                        
                            <pre>
                                <code> 
    &lt;template&gt;
        &lt;div class="row"&gt;
            &lt;jobbs-on-table v-model="arrData"&gt;&lt;/jobbs-on-table&gt;
        &lt;/div&gt;
    &lt;/template&gt;

    &lt;script type="text/javascript"&gt;
        import jobbsOnTable from 'jobbsontable'
        export default {
            components: {
                jobbsOnTable
            },
            data() {
                return {
                    arrData: [
                        [
                            {
                                value: "Meu estilo 01",
                                style: {
                                    backgroundColor: 'yellow',
                                    color: 'red',
                                    fontSize: '25',
                                    fontFamily: '',
                                    border: '4px solid blue',
                                    size: '100px',
                                    fontWeight: '900',
                                }
                            },
                            {
                                value: "Meu estilo 02",
                                style: {
                                    backgroundColor: 'yellow',
                                    color: 'red',
                                    fontSize: '25',
                                    fontFamily: '',
                                    border: '4px solid blue',
                                    size: '300px',
                                    fontWeight: '100',
                                }
                            },
                        ]                        
                    ]
                }
            }
        }
    &lt;/script&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM ESTILO -->

        <!-- INICIO DEMO ESTILO -->
        <div class="row justify-content-start">
            <div class="col-10 mt-3 h-25 d-inline-block ">
                <div class="card border-info shadow">
                    <h5 class="card-header bg-info text-white ">DEMO</h5>
                    <div class="card-body">
                        <jobbs-on-table 
                            v-model="arrDataEstilo"
                        ></jobbs-on-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10 mt-3 ">
                <div class="card border-warning text-white shadow">
                    <h5 class="card-header bg-warning">DATA</h5>
                    <div class="card-body">
                        <textarea class="form-control border-0" v-model="textDataEstilo" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DEMO ESTILO -->

        <!-- INICIO EVENTO -->
        <div class="row justify-content-center">
            <div class="col-11 mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="text-break h5"> EVENTOS </p>
                        <hr>
                        <p class="text-justify"> Os eventos são as ações que irão ocorrer a partir de alguma interação com o componente ou com a célula do jobbsontable. </p>

                        <p class="text-break h6"> EVENTOS DO COMPONENTE </p>
                        <hr>
                        <p class="text-justify"> CONTEÚDO </p>

<!-- 
    :dragAndDrop="true"
    :dragEvent="dragEventJobbsOnTable"
    :dropEvent="dropEventJobbsOnTable"
    noDragAndDropByClassName=".grupoSuperior, .grupoInferior, .menuItem"

    @onFocusDown="autoSaveItem($event)"
    @onkeyup="autoSaveItem($event)"
    @onClickLineChange="autoSaveItem($event)"
    @onRemoveLine=""
-->

                        <p class="text-break h6"> EVENTOS DA CÉLULA </p>
                        <hr>
                        <p class="text-justify"> Os eventos são as ações que irão ocorrer quando o usuário interagir com as células da tabela, em cada célula voce deve passar um novo argumento chamado 'event' que é um objeto que recebe as seguintes propriedades válidas. </p>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nome Evento</th>
                                    <th scope="col">Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">onClick</th>
                                    <td>Evento disparado quando clicar na célula</td>
                                </tr>
                                <tr>
                                    <th scope="row">onChange</th>
                                    <td>Evento disparado ao modificar o valor da célula, estes eventos só são disparados para celulas com o tipo de atributo input ou select</td>
                                </tr>
                                <tr>
                                    <th scope="row">onFocusDown</th>
                                    <td>Dispara o evento quando o mouse tirar o foco da célula</td>
                                </tr>
                            </tbody>
                        </table>                    

                        <p class="text-break h5"> onClick </p>
                        <hr>
                        <p class="text-justify"> 
                            Evento disparado ao clicar na célula, essa propriedade deve ser uma função, o primeiro argumento será a propriedade da célula, o segundo argumento é o indice da coluna e o terceiro é o indice da linha. Veja o código da célula a seguir.:
                        </p>
                        <div class="border-left border-dark bg-light">
                            <pre>
                                <code>
    {
        value: 'event click',
        atribute: {
            type: 'input'
        },
        event: { // meu objeto de eventos que irão insidir sobre a célula
            onClick: function(campo, indexLine, indexColumn){
                console.log(campo); // retorna o próprio objeto da célula
                alert('Voce clicou!');
            }
        }
    }
                                </code>
                            </pre>
                        </div>


                        <p class="text-break h5"> onChange </p>
                        <hr>
                        <p class="text-justify"> Evento disparado ao modificar o valor da célula, estes eventos só são disparados para celulas com o tipo de atributo input ou select. Veja o código da célula a seguir.: </p>
                        <div class="border-left border-dark bg-light">
                            <pre>
                                <code>
    {
        value: 'Event Change',
        atribute: {
            type: 'input'
        },
        event: {
            onChange: function(campo, indexLine, indexColumn, line){
                alert(campo.value); // novo valor do campo
            }
        }
    }
                                </code>
                            </pre>
                        </div>

                        <p class="text-break h5"> onFocusDown </p>
                        <hr>
                        <p class="text-justify"> Dispara o evento quando tirar o foco da célula. Veja o código da célula a seguir.: </p>
                        <div class="border-left border-dark bg-light">
                            <pre>
                                <code>
    {
        value: 'Leave focus',
        atribute: {
            type: 'input'
        },
        event: {
            onFocusDown: function(campo, indexLine, indexColumn, line){
                alert('Leave focus');
            }
        }
    }
                                </code>
                            </pre>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- FIM EVENTO -->

        <!-- INICIO DEMO EVENTO -->
        <div class="row justify-content-start">
            <div class="col-10 mt-3 h-25 d-inline-block ">
                <div class="card border-info shadow">
                    <h5 class="card-header bg-info text-white "> DEMO </h5>
                    <div class="card-body">
                        <jobbs-on-table 
                            v-model="arrDataEvento"
                        ></jobbs-on-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-10 mt-3 ">
                <div class="card border-warning text-white shadow">
                    <h5 class="card-header bg-warning">DATA</h5>
                    <div class="card-body">
                        <textarea class="form-control border-0" v-model="textDataEvento" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DEMO EVENTO -->

<!-- 
  @onClick="autoSaveItem"
  @onChange="autoSaveItem"
-->

    </div>
</template>

<script>
    import jobbsOnTable from './jobbsontable.vue'

    export default {
        components: {
            jobbsOnTable
        },
        data() {
            return {
              campoValor: '',
              rightClickEventsJobbsontable: [
                {
                  label: 'Deletar', 
                  eventCallback: (indexLine, indexColumn) => { 
                    console.log('we are here!', indexLine, indexColumn); 
                  }
                }
              ],
              arrData: [ 
    [
      {
        "value": "<div class='row grupoSuperior 2343 '><div class='col-5 mt-2'><b class='ml-2'>1 - DESENVOLVIMENTO DE PROJETO  <\/b><\/div> <div class='col-7 mb-1'><div class='row justify-content-end'><div class='col-6 pr-4'>   <span style='font-size: 11px;'>Total Trabalho: R$    <span class='valor_total_trabalho'> 55649<\/span> x Executado: R$    <span class='valor_total_executado'> 0<\/span> <\/span>   <span class='graficoTrabalhoExecutado'> <div class='progress progress-bar-striped heightprogressbar'>     <div class='progress-bar bg-warning'             role='progressbar'             style='width: 0%'             aria-valuenow='0'             aria-valuemin='0'              aria-valuemax='100'>100%     <\/div>INF <\/div>  <\/span> <\/div><\/div><\/div><\/div>",
        "style": {
          "backgroundColor": "#212529",
          "color": "white",
          "fontSize": 14,
          "fontWeight": "bold"
        }
      }
    ],
    [
      {
        "value": "<div class='grupoInferior 2344 ' style='margin:10px'>1.1 - Roteiro - ( TOTAL ORC. R$ <span class='valor_total_orcado'><\/span> X TOTAL EXEC. R$ <span class='valor_total_executado'>0<\/span> ) <\/div>",
        "style": {
          "backgroundColor": "#dee2e6",
          "color": "#495057",
          "fontSize": 13,
          "fontWeight": "bold"
        }
      }
    ],
    [
      {
        "value": "Item",
        "className": "text-center menuItem",
        "style": {
          "size": "150px",
          "fontSize": 12
        }
      },
      {
        "value": "Descrição",
        "className": "text-center menuItem",
        "style": {
          "size": "150px",
          "fontSize": 12
        }
      },
      {
        "value": "Fornecedor",
        "className": "text-center menuItem",
        "style": {
          "fontSize": 12
        }
      },
      {
        "value": "Grande item",
        "className": "text-center menuItem",
        "style": {
          "size": "100px",
          "fontSize": 12
        }
      },
      {
        "value": "Unid.",
        "className": "col_blue menuItem",
        "style": {
          "size": "100px",
          "fontSize": 12
        }
      },
      {
        "value": "QTD U.",
        "className": "col_green menuItem",
        "style": {
          "fontSize": 12
        }
      },
      {
        "value": "QTD",
        "className": "col_green menuItem",
        "style": {
          "fontSize": 12
        }
      },
      {
        "value": "Valor U.",
        "className": "col_green menuItem",
        "style": {
          "size": "50px",
          "fontSize": 12
        }
      },
      {
        "value": "V. Total",
        "className": "col_green menuItem",
        "style": {
          "size": "50px",
          "fontSize": 12
        }
      },
      {
        "value": "Total Exec.",
        "className": "col_orange menuItem",
        "style": {
          "size": "50px",
          "fontSize": 12
        }
      },
      {
        "value": "Saldo",
        "className": "col_orange menuItem",
        "style": {
          "size": "50px",
          "fontSize": 12
        }
      },
      {
        "value": "Pago",
        "className": "col_paid",
        "style": {
          "size": "50px",
          "fontSize": 12
        }
      }
    ],
    [
      {
        "value": "9916",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_item"
        }
      },
      {
        "value": "2344",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_grupo"
        }
      },
      {
        "value": "2343",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_grupo_superior"
        }
      },
      {
        "value": 1,
        "label": "ola mundo 2",
        "atribute": {
          "type": "input",
          "name": "produto"
        },
        "className": "item grupo2344",
        "style": {
          "fontSize": 11
        },
        event: {
          onChange: function(campo, indexLine, indexColumn, line, eventInput){
            console.log(campo.value);
            console.log(campo);
            console.log(eventInput);
          }
        }
      },
      {
        "value": "ARTHUR TUOTO Nova porcentagem 3%",
        "atribute": {
          "type": "input",
          "name": "descricao"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "<center> <i class=\"fas fa-users\" style=\"cursor:pointer; width:100%\"><\/i> <\/center>",
        "style": {
          "size": "5px",
          "fontSize": 11
        },
        "event": {
            onClick: function(campo, indexLine, indexColumn){
               alert('clicou');
            } 
         }
      },
      {
        "value": null,
        "atribute": {
          "type": "select",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "value": "31",
              "label": "Roteiro"
            },
            {
              "value": "32",
              "label": "Cessão de Direitos"
            },
            {
              "value": "33",
              "label": "Pesquisa"
            },
            {
              "value": "34",
              "label": "Despesas de Criação e Desenvolvimento"
            },
            {
              "value": "35",
              "label": "Diretor"
            },
            {
              "value": "36",
              "label": "Equipe de Direção"
            },
            {
              "value": "37",
              "label": "Elenco Principal"
            },
            {
              "value": "38",
              "label": "Elenco Secundário\/Figuração"
            },
            {
              "value": "39",
              "label": "Diretor de Arte"
            },
            {
              "value": "40",
              "label": "Equipe de Arte"
            },
            {
              "value": "41",
              "label": "Despesas de Arte"
            },
            {
              "value": "42",
              "label": "Diretor de Fotografia"
            },
            {
              "value": "43",
              "label": "Equipe Técnica"
            },
            {
              "value": "44",
              "label": "Equipe de Edição\/Finalização"
            },
            {
              "value": "45",
              "label": "Equipamentos"
            },
            {
              "value": "46",
              "label": "Despesas de Edição \/ Finalização"
            },
            {
              "value": "47",
              "label": "Material de Arquivo"
            },
            {
              "value": "48",
              "label": "Música"
            },
            {
              "value": "49",
              "label": "Produtor"
            },
            {
              "value": "50",
              "label": "Equipe de Produção"
            },
            {
              "value": "51",
              "label": "Set"
            },
            {
              "value": "52",
              "label": "Transporte"
            },
            {
              "value": "53",
              "label": "Alimentação"
            },
            {
              "value": "54",
              "label": "Viagens"
            },
            {
              "value": "55",
              "label": "Despesas de Produção"
            },
            {
              "value": "56",
              "label": "Infra-estrutura"
            },
            {
              "value": "57",
              "label": "Seguros"
            },
            {
              "value": "58",
              "label": "Serviços Jurídicos"
            },
            {
              "value": "59",
              "label": "Serviços Contábeis"
            },
            {
              "value": "60",
              "label": "Tributos e taxas"
            },
            {
              "value": "61",
              "label": "despesas de promoção"
            },
            {
              "value": "62",
              "label": "gerenciamento"
            }
          ],
          "name": "id_grande_item"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "5",
        "atribute": {
          "type": "select",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "label": "CACHE",
              "value": "4"
            },
            {
              "label": "CENA",
              "value": "8"
            },
            {
              "label": "DIÁRIA",
              "value": "3"
            },
            {
              "label": "Hora",
              "value": "10"
            },
            {
              "label": "KG",
              "value": "2"
            },
            {
              "label": "MENSAL",
              "value": "6"
            },
            {
              "label": "SEMANA",
              "value": "7"
            },
            {
              "label": "TAXA",
              "value": "9"
            },
            {
              "label": "UNIDADE",
              "value": "1"
            },
            {
              "label": "VERBA",
              "value": "5"
            }
          ],
          "name": "id_unidade"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": 1,
        "atribute": {
          "type": "input",
          "mask": "#######",
          "name": "qtd_unidade_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": 1,
        "atribute": {
          "type": "input",
          "mask": "#######",
          "name": "qtd_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": "41649.00",
        "atribute": {
          "type": "money",
          "name": "valor_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": "41649.00",
        "atribute": {
          "type": "money",
          "name": "valor_total_trabalho",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "0.00",
        "atribute": {
          "type": "money",
          "name": "valor_total_executado",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "41649.00",
        "atribute": {
          "type": "money",
          "name": "saldo",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "0.00",
        "atribute": {
          "type": "money",
          "name": "pago",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      }
    ],
    [
      {
        "value": "",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_item"
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_grupo"
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "hidden",
          "name": "id_orca_grupo_superior"
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "input",
          "name": "produto"
        },
        "className": "item grupo2344",
        "style": {
          "fontSize": 11
        },
        event: {
            onChange: function(campo, indexLine, indexColumn, line){
              console.log(campo.value);
            }
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "input",
          "name": "descricao"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "<center> <i class=\"fas fa-users\" style=\"cursor:pointer; width:100%\"><\/i> <\/center>",
        "style": {
          "size": "5px",
          "fontSize": 11
        },
        "event": {
            onClick: function(campo, indexLine, indexColumn){
               alert('clicou');
            } 
         }
      },
      {
        "value": "",
        "atribute": {
          "type": "select",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "value": "31",
              "label": "Roteiro"
            },
            {
              "value": "32",
              "label": "Cessão de Direitos"
            },
            {
              "value": "33",
              "label": "Pesquisa"
            },
            {
              "value": "34",
              "label": "Despesas de Criação e Desenvolvimento"
            },
            {
              "value": "35",
              "label": "Diretor"
            },
            {
              "value": "36",
              "label": "Equipe de Direção"
            },
            {
              "value": "37",
              "label": "Elenco Principal"
            },
            {
              "value": "38",
              "label": "Elenco Secundário\/Figuração"
            },
            {
              "value": "39",
              "label": "Diretor de Arte"
            },
            {
              "value": "40",
              "label": "Equipe de Arte"
            },
            {
              "value": "41",
              "label": "Despesas de Arte"
            },
            {
              "value": "42",
              "label": "Diretor de Fotografia"
            },
            {
              "value": "43",
              "label": "Equipe Técnica"
            },
            {
              "value": "44",
              "label": "Equipe de Edição\/Finalização"
            },
            {
              "value": "45",
              "label": "Equipamentos"
            },
            {
              "value": "46",
              "label": "Despesas de Edição \/ Finalização"
            },
            {
              "value": "47",
              "label": "Material de Arquivo"
            },
            {
              "value": "48",
              "label": "Música"
            },
            {
              "value": "49",
              "label": "Produtor"
            },
            {
              "value": "50",
              "label": "Equipe de Produção"
            },
            {
              "value": "51",
              "label": "Set"
            },
            {
              "value": "52",
              "label": "Transporte"
            },
            {
              "value": "53",
              "label": "Alimentação"
            },
            {
              "value": "54",
              "label": "Viagens"
            },
            {
              "value": "55",
              "label": "Despesas de Produção"
            },
            {
              "value": "56",
              "label": "Infra-estrutura"
            },
            {
              "value": "57",
              "label": "Seguros"
            },
            {
              "value": "58",
              "label": "Serviços Jurídicos"
            },
            {
              "value": "59",
              "label": "Serviços Contábeis"
            },
            {
              "value": "60",
              "label": "Tributos e taxas"
            },
            {
              "value": "61",
              "label": "despesas de promoção"
            },
            {
              "value": "62",
              "label": "gerenciamento"
            }
          ],
          "name": "id_grande_item"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "select",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "label": "CACHE",
              "value": "4"
            },
            {
              "label": "CENA",
              "value": "8"
            },
            {
              "label": "DIÁRIA",
              "value": "3"
            },
            {
              "label": "Hora",
              "value": "10"
            },
            {
              "label": "KG",
              "value": "2"
            },
            {
              "label": "MENSAL",
              "value": "6"
            },
            {
              "label": "SEMANA",
              "value": "7"
            },
            {
              "label": "TAXA",
              "value": "9"
            },
            {
              "label": "UNIDADE",
              "value": "1"
            },
            {
              "label": "VERBA",
              "value": "5"
            }
          ],
          "name": "id_unidade"
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "input",
          "mask": "#######",
          "name": "qtd_unidade_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": "",
        "atribute": {
          "type": "input",
          "mask": "#######",
          "name": "qtd_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": "",
        "atribute": {
          "type": "money",
          "name": "valor_trabalho"
        },
        "style": {
          "fontSize": 11
        },
        "event": {
            onFocusDown: (value, indexLine, indexColumn, line) => {
              this.onFocusDownEvent(value, indexLine, indexColumn, line);
            }
         }
      },
      {
        "value": "",
        "atribute": {
          "type": "money",
          "name": "valor_total_trabalho",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "money",
          "name": "valor_total_executado",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "money",
          "name": "saldo",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      },
      {
        "value": "",
        "atribute": {
          "type": "money",
          "name": "pago",
          "disabled": true
        },
        "style": {
          "fontSize": 11
        }
      }
    ],
],
                arrDataBasico: [ 
                    ['col1 line1', 'col2 line1'],
                    ['col1 line2', 'col2 line2']
                ],
                arrDataAtributo: [
                    [
                        {
                            "value": "col-1 line-1",
                            "atribute": {
                                "type": "input",
                                "name": "campo1"
                            }
                        },
                        {
                            "value": "col-2 line-1",
                            "atribute": {
                                "type": "select",
                                "options": [
                                    {
                                        "label": "OPTION 01",
                                        "value": "01"
                                    },
                                    {
                                        "label": "OPTION 02",
                                        "value": "02"
                                    }
                                ],
                                "name": "campo2"
                            }
                        },
                        {
                            value: '',
                            atribute: {
                                type: 'input'
                            },
                            style: {
                                size: '100px'
                            }
                        }
                    ],
                    [
                        {
                            "value": "col-1 line-2",
                            "atribute": {
                                "type": "input",
                                "name": "campo3",
                                "disabled": true
                            }
                        },
                        {
                            "value": "",
                            "atribute": {
                                "type": "input",
                                "name": "campo4",
                                "mask": "##/##/####"
                            }
                        },
                        {
                            value: '2',
                            atribute: {
                                type: 'input'
                            },
                            style: {
                                size: '100px'
                            }
                        }
                    ]
                ],
                arrDataEstilo: [
                    [
                        {
                            value: "Meu estilo 01",
                            style: {
                                backgroundColor: 'yellow',
                                color: 'red',
                                fontSize: '25',
                                fontFamily: 'times new roman',
                                border: '0px solid blue',
                                size: '100px',
                                fontWeight: '900',
                            }
                        },
                        {
                            value: "Meu estilo 02",
                            style: {
                                backgroundColor: 'yellow',
                                color: 'red',
                                fontSize: '25',
                                fontFamily: '',
                                border: '8px solid blue',
                                size: '300px',
                                fontWeight: '100',
                            }
                        },
                    ]
                ],
                arrDataEvento: [
                    [
                        {
                            value: 'Event Click',
                            atribute: {
                                type: 'input'
                            },
                            event: {
                                onClick: function(campo, indexLine, indexColumn){
                                    console.log(campo, indexLine, indexColumn);
                                    alert('Voce clicou!');
                                }
                            }
                        },
                        {
                            value: 'Event Change',
                            atribute: {
                                type: 'input'
                            },
                            event: {
                                onChange: function(campo, indexLine, indexColumn, line){
                                    alert(campo.value);
                                }
                            }
                        },
                        {
                            value: 'Leave focus',
                            atribute: {
                                type: 'input'
                            },
                            event: {
                                onFocusDown: function(campo, indexLine, indexColumn, line){
                                    alert('Leave focus');
                                }
                            }
                        }
                    ]
                ]
            }
        },
        computed: {
            textData: {
                get: function () { return JSON.stringify(this.arrData, undefined, 2);},
                set: function (newValue) {this.arrData = JSON.parse(newValue);}
            },
            textDataBasico: {
                get: function () { return JSON.stringify(this.arrDataBasico, undefined, 2); },
                set: function (newValue) { this.arrDataBasico = JSON.parse(newValue); }
            },
            textDataAtributo: {
                get: function () { return JSON.stringify(this.arrDataAtributo, undefined, 2); },
                set: function (newValue) { this.arrDataAtributo = JSON.parse(newValue); }
            },
            textDataEstilo: {
                get: function () { return JSON.stringify(this.arrDataEstilo, undefined, 2); },
                set: function (newValue) { this.arrDataEstilo = JSON.parse(newValue); }
            },
            textDataEvento: {
                get: function () { return JSON.stringify(this.arrDataEvento, undefined, 2); },
                set: function (newValue) { this.arrDataEvento = JSON.parse(newValue); }
            }
        },
        methods: {
            setarValorNaCelula(){
               this.$refs.jobbsontableMain.setValueOnCell(3, 4, this.campoValor);
            },
            onFocusDownEvent(value, indexLine, indexColumn, line) {
              try{

                let objLine = {};
                line.lineBefore.forEach(function(line){
                    eval("objLine."+line.key+" = { value: '"+line.value+"', indexLine: '"+line.indexLine+"', indexColumn: '"+line.indexColumn+"' };")
                });
                
                let qtd_unidade_trabalho = parseInt(objLine.qtd_unidade_trabalho.value);
                let qtd_trabalho = parseInt(objLine.qtd_trabalho.value);
                let valor_trabalho = parseFloat(objLine.valor_trabalho.value);

                if(qtd_unidade_trabalho < 0) qtd_unidade_trabalho = 0;
                if(qtd_trabalho < 0) qtd_trabalho = 0;
                if(valor_trabalho < 0) valor_trabalho = 0;

                this.$refs.jobbsontableMain.setValueOnCell( 
                    objLine.valor_total_trabalho.indexLine,
                    objLine.valor_total_trabalho.indexColumn,
                    parseFloat(qtd_unidade_trabalho*qtd_trabalho*valor_trabalho)
                );

              }catch(err){
                console.log(err.message);
              }
            }
        },
        mounted(){
        }
    }
</script>

<style>
    .col_blue {
        background-color: rgb(55, 144, 228);
        color: white;
        text-align: right;
    }
    .col_green {
        background-color: rgb(52, 170, 105);
        color: white;
        text-align: right;
    }
    .col_orange {
        background-color: rgb(224, 135, 0);
        color: white;
        text-align: right;
    }
    .col_paid {
        background-color: rgb(0, 224, 67);
        color: white;
        text-align: right;
    }
</style>