<template>
    <div class="row">
        <table 
            border="1" 
            bordercolor="#eaeaea" 
            :class="'col-12 jobbsOnTable tableId'+idJobbsOnTable "
            >
            <draggable 
                v-model="dataWatch" 
                v-bind="dragOptions"
                tag="tbody" 
                @start="dragEventMethod"
                @end="dropEventMethod">
                    <tr 
                        v-for="(line, indexLine) in dataWatch" 
                        :key="indexLine"
                        :id="indexLine"
                    >
                        <td v-for="(atribute, indexColumn) in line" 
                            :key="atribute.id"
                            :id="indexColumn"
                            :colspan="maiorTr - line.length + 1"
                            :class="typeof atribute == 'object' ? atribute.className : ''"
                            :style="atribute.cellStyle"
                            :ref="'tdl'+indexLine+'c'+indexColumn"
                            @click="onCellFocus($event, atribute, indexLine, indexColumn)"
                            @contextmenu.prevent="typeof atribute.atribute == 'object' ? openContextMenu($event, indexLine, indexColumn) : () => {}"
                            v-html="typeof atribute == 'string' ? atribute : (atribute.label ? atribute.label : atribute.value)"
                        ></td>
                    </tr>
            </draggable>
            <ContextMenu ref="menu">
                <template slot-scope="{ contextData }">
                    <ContextMenuItem  
                        v-for="(item, i) in rightClick"
                        @click.native="$refs.menu.close(); item.eventCallback(contextData.indexLine, contextData.indexColumn, contextData.line);"
                        :key="i">
                        {{item.label}}
                    </ContextMenuItem>
                </template>
            </ContextMenu>
        </table>

        <input 
            type="text" 
            :id="'inputCellFocus'+idJobbsOnTable" 
            autocomplete="off"
            :style="styleFocus"
            v-mask="mascaraInput"
            v-model="inputValue"
            :class="enterIsPress ? 'cellPressed' : ''"

            @keyup.left ="moveCell('left')"
            @keyup.up   ="moveCell('up')"
            @keyup.down ="moveCell('down')"
            @keyup.right="moveCell('right')"
            @keyup.enter="onInputEnterPressed"
            @dblclick="enterIsPress = true, $event.target.setSelectionRange($event.target.value.length, $event.target.value.length)"
            @click="clickOnInput"
            @change="triggerFocusDownEvent(cellActived.dataInput, cellActived.indexLine, cellActived.indexColumn)"
            @contextmenu.prevent="openContextMenu($event, cellActived.indexLine, cellActived.indexColumn)"
            @input="onInput"
        >

        <select 
            name="" 
            :id="'selectCellFocus'+idJobbsOnTable"
            :style="styleFocus"
            v-model="inputValue"

            @keyup.left ="moveCell('left')"
            @keyup.up   ="moveCell('up')"
            @keyup.down ="moveCell('down')"
            @keyup.right="moveCell('right')"
            @keyup.enter="moveCell('down')"
            @contextmenu.prevent="openContextMenu($event, cellActived.indexLine, cellActived.indexColumn)"
            @click="clickOnInput"
            @change="onInput(), triggerFocusDownEvent(cellActived.dataInput, cellActived.indexLine, cellActived.indexColumn);"
        ></select>

        <div 
            class="inputArea"
            :id="'inputCellFocusArea'+idJobbsOnTable"
        >
            <input 
                type="text" 
                autocomplete="off"
                :style="styleFocus"
                v-mask="mascaraInput"
                v-model="inputValue"
                list="" 
                :class="(enterIsPress ? 'cellPressed' : '')"

                @keyup.left ="moveCell('left')"
                @keyup.up   ="moveCell('up')"
                @keyup.down ="moveCell('down')"
                @keyup.right="moveCell('right')"
                @keyup.enter="onInputEnterPressed"
                @dblclick="enterIsPress = true, $event.target.setSelectionRange($event.target.value.length, $event.target.value.length)"
                @click="clickOnInput"
                @change="triggerFocusDownEvent(cellActived.dataInput, cellActived.indexLine, cellActived.indexColumn)"
                @contextmenu.prevent="openContextMenu($event, cellActived.indexLine, cellActived.indexColumn)"
                @input="onInput"
            >
            <div class="autoCompleteArea">
                <ul id="listAutoComplete" type="none"></ul>
            </div>
        </div>

    </div>
</template>
<script>
    import draggable from 'vuedraggable'
    import { VueMaskDirective } from 'v-mask'
    import ContextMenu from './components/ContextMenu/ContextMenu';
    import ContextMenuItem from './components/ContextMenu/ContextMenuItem';

    export default {
        props: {
            value: {
                type: [Array, Object],
                required: true
            },
            dragAndDrop:{
                type: Boolean,
                required: false,
                default: false
            },
            noDragAndDropByClassName:{
                type: String,
                required: false,
                default: ''
            },
            dragEvent: {
                type: Function,
                required: false,
                default: () => {}
            },
            dropEvent: {
                type: Function,
                required: false,
                default: () => {}
            },
            idJobbsOnTable: {
                type: String,
                default: function () {
                    return Math.random().toString().substr(-Math.random().toString()+3);
                } 
            },
            styleFocus: {
                type: String,
                default: 'box-sizing:border-box; display:none; position:absolute;'
            },
            rightClick: {
                type: Array,
                required: false
            }
        },
        directives: {
            'mask' : VueMaskDirective
        },
        components: {
            draggable,
            ContextMenu,
            ContextMenuItem
        },
        computed: {
            dragOptions() {
                return {
                    animation: 200,
                    ghostClass: "ghost",
                    easing: "cubic-bezier(0.19, 1, 0.22, 1)",
                    filter: this.noDragAndDropByClassName,
                    disabled: !this.dragAndDrop
                };
            },
        },
        data() {
            return {
                inputValue: '',
                mascaraInput: '',
                dataWatch: [],
                optionsAutocomplete: [],
                maiorTr: 0,
                enterIsPress: false,
                areAmoviment: false,
                lineBefore: null,
                changedValue: false,
                lastChanged: null,
                cellActived: {
                    indexColumn: null,
                    indexLine: null,
                    eventInput: null,
                    dataInput: null,
                    lastMoviment: null
                },
            }
        },
        methods: {
            openContextMenu(event, indexLine, indexColumn){
                document.getElementById("inputCellFocus"+this.idJobbsOnTable).style.display = "none";
                document.getElementById("selectCellFocus"+this.idJobbsOnTable).style.display = "none";
                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" input").style.display = "none";
                this.$refs.menu.open(event, {indexLine: indexLine, indexColumn: indexColumn, line: this.emitOnkey(indexLine, undefined, 'lineBefore').lineBefore});

                // DEFINE POSITION CONTEXT MENU
                let left = event.pageX - (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft) + 10;
                let top  = event.pageY - (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);

                setTimeout(function(){
                    document.querySelector(".jobbsOnTable .context-menu").style = "top: "+top+"px !important; left:"+left+"px !important; ";
                }, 1);
            },
            onCellFocus(event, campo, indexLine, indexColumn){
                try{
                    this.emitChangeComponent();
                    let self = this;
                    this.enterIsPress = false;
                    this.cellActived.eventInput  = event.target;
                    this.cellActived.indexColumn = indexColumn;
                    this.cellActived.indexLine   = indexLine;
                    this.cellActived.dataInput   = campo;
                    this.inputValue              = null;
                    
                    if(!this.areAmoviment){
                        if(typeof this.cellActived.dataInput.event == 'object' && typeof this.cellActived.dataInput.event.onClick == 'function')
                            this.cellActived.dataInput.event.onClick(campo, indexLine, indexColumn); // TRIGGER EVENT CLICK
                        this.$emit('onClick', campo.value, indexLine, indexColumn);
                    }
                    this.optionsAutocomplete = [];
                    this.areAmoviment = false;
                    this.adjustField();
                    switch(campo.atribute.type){
                        case 'input':  
                            this.inputValue = event.target.innerHTML;
                            break;
                        case 'select': 
                            let htmlOption = '';
                            let selectFocus = document.getElementById("selectCellFocus"+this.idJobbsOnTable);
                            campo.atribute.options.forEach(function(option){ 
                                htmlOption += '<option value="'+option.value+'" >'+option.label+'</option>'; 
                            });
                            selectFocus.innerHTML = htmlOption;
                            this.inputValue       = campo.value; 
                            document.getElementById("selectCellFocus"+this.idJobbsOnTable).value = campo.value;
                            break;
                        case 'money':
                            this.inputValue = event.target.innerHTML;
                            break;
                        case 'autocomplete':
                            this.inputValue = event.target.innerHTML;
                            break;
                    }
                    document.getElementById("inputCellFocus"+this.idJobbsOnTable).selectionStart = event.target.innerHTML.length;

                }catch(err){
                    if(this.cellActived.lastMoviment != null){
                        this.moveCell(this.cellActived.lastMoviment);
                        this.cellActived.lastMoviment = null;
                    }
                }
            },
            adjustField(){ 
                const tableJobbsOnTable = document.getElementsByClassName("tableId"+this.idJobbsOnTable)[0];
                const inputFocus        = document.getElementById("inputCellFocus"+this.idJobbsOnTable);
                const divAutocomplete   = document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable);
                const inputAutocomplete = document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" input");
                const selectFocus       = document.getElementById("selectCellFocus"+this.idJobbsOnTable);

                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" .autoCompleteArea").style.display = "none";
                inputFocus.setAttribute("style", this.styleFocus);
                divAutocomplete.setAttribute("style", this.styleFocus);
                inputAutocomplete.setAttribute("style", this.styleFocus);
                selectFocus.setAttribute("style", this.styleFocus);

                // DISABLED 
                try{ 
                    if(this.cellActived.dataInput.atribute.disabled){
                        inputFocus.classList.add("hiddenCellFocus");
                        selectFocus.classList.add("hiddenCellFocus");
                    } else {
                        throw true; 
                    }
                }catch(err){
                    inputFocus.classList.remove("hiddenCellFocus");
                    selectFocus.classList.remove("hiddenCellFocus");
                }

                // PUT THE MASK
                try{
                    if(this.cellActived.dataInput.atribute.mask.length > 0){
                        this.mascaraInput = this.cellActived.dataInput.atribute.mask;
                    }else{
                        throw true; 
                    }
                }catch(err){
                    this.mascaraInput = '';
                }

                // RESIZE
                var position = this.cellActived.eventInput.getBoundingClientRect();
                var left     = tableJobbsOnTable.offsetLeft + this.cellActived.eventInput.offsetLeft;
                var top      = tableJobbsOnTable.offsetTop + this.cellActived.eventInput.offsetTop;
                let style    = "box-sizing: border-box; display: inline-block; position: absolute; top: "+top+"px; left:"+left+"px; width: "+position.width+"px; height:"+position.height+"px;"+this.cellActived.dataInput.cellStyle;

                switch(this.cellActived.dataInput.atribute.type){
                    case 'input':  
                        inputFocus.setAttribute("style", style);
                        inputFocus.focus();
                        break;
                    case 'select': 
                        selectFocus.setAttribute("style", style);
                        selectFocus.focus();
                        break;
                    case 'money':  
                        inputFocus.setAttribute("style", style+';text-align:right;');
                        inputFocus.focus();
                        break;
                    case 'autocomplete':
                        inputAutocomplete.setAttribute("style", "width: "+position.width+"px; height:"+position.height+"px; "+this.cellActived.dataInput.cellStyle);
                        divAutocomplete.setAttribute("style", "box-sizing: border-box; display: inline-block; position: absolute; top: "+top+"px; left:"+left+"px; font-size: 12px; padding: 2px");
                        inputAutocomplete.focus();
                        break;                        
                }
            },
            handleData(arrDados){
                try{
                    let self = this;
                    let arrFinal = []; 

                    arrFinal = arrDados.map(function(line) {
                        if(self.maiorTr < line.length)
                            self.maiorTr = line.length;

                        line.map(function(atribute){
                            let styleText = ' ';

                            // SET MASK MONEY
                            try{
                                if(atribute.atribute.type == 'money'){
                                    atribute.value = self.maskMoney(atribute.value);
                                    styleText += ' text-align: right; ';
                                }
                            }catch(err){}

                            // SET SELECT VALUE ON TD
                            try{
                               atribute.label = atribute.atribute.options.find((option) => { return option.value == atribute.value }).label;
                            }catch(err){}

                            // SET THE STYLE CSS
                            if(typeof atribute == 'object'){
                                let allowedStyles = [
                                    { cssNameAtribute: 'background-color',  nameAtributeStyleJobbsontable: 'backgroundColor'},
                                    { cssNameAtribute: 'color',             nameAtributeStyleJobbsontable: 'color'},
                                    { cssNameAtribute: 'font-size',         nameAtributeStyleJobbsontable: 'fontSize', posText: 'px'},
                                    { cssNameAtribute: 'font-family',       nameAtributeStyleJobbsontable: 'fontFamily'},
                                    { cssNameAtribute: 'border',            nameAtributeStyleJobbsontable: 'border'},
                                    { cssNameAtribute: 'min-width',         nameAtributeStyleJobbsontable: 'size'},
                                    { cssNameAtribute: 'font-weight',       nameAtributeStyleJobbsontable: 'fontWeight' }
                                ];

                                allowedStyles.forEach((style) => {
                                    try{
                                        if(atribute.style[style.nameAtributeStyleJobbsontable]){
                                            styleText += style.cssNameAtribute+' : '+atribute.style[style.nameAtributeStyleJobbsontable];
                                            styleText += ((style.posText) ? style.posText : '')+'; ';
                                        }
                                    }catch(err){}
                                });

                                try{
                                    if(atribute.atribute.type == 'hidden'){
                                        styleText += ' display: none; ';
                                        self.maiorTr -= 1;
                                    }
                                }catch(err){}

                                try{ 
                                    if(atribute.atribute.disabled){
                                        styleText += ' color: #8c8c8c; ';
                                    }
                                }catch(err){}

                                atribute.cellStyle = styleText;
                            }
                            return atribute;
                        });
                        return line;
                    });
                    return arrFinal;
                }catch(err){}
                return [];
            },
            onInput(){
                let atribute    = this.cellActived.dataInput;
                let indexLine   = this.cellActived.indexLine;
                let indexColumn = this.cellActived.indexColumn;
                let self        = this;
                
                // don`t trigger event when have only focus on cell
                if(atribute.value == this.inputValue || typeof atribute.label == 'string' && atribute.label == this.inputValue)
                    return false; 

                // don`t change hidden field
                if(atribute.atribute && atribute.atribute.disabled){ 
                    this.inputValue = this.inputValue.substring(0, this.inputValue.length-1); 
                    return false; 
                }

                if(atribute.atribute.type == 'select'){
                    let valor = document.getElementById("selectCellFocus"+this.idJobbsOnTable).value;
                    atribute.value = valor;
                    this.inputValue = valor;
                    setTimeout(function(){ 
                        self.cellActived.eventInput.innerHTML = atribute.atribute.options.find((option) => { return option.value == valor }).label;
                    }, 10);
                }else {
                    if(this.cellActived.eventInput.innerHTML != this.inputValue && !this.enterIsPress){
                        let increasedWords  = this.inputValue.length > this.cellActived.eventInput.innerHTML.length;
                        var newValue        = increasedWords ? this.inputValue.substring(this.inputValue.length-1) : '';
                        this.inputValue     = newValue;
                        this.enterIsPress   = true;
                    }

                    if(atribute.atribute.type == 'money')
                        this.inputValue = this.maskMoney(this.inputValue);

                    this.cellActived.eventInput.innerHTML    = this.inputValue;
                    this.value[indexLine][indexColumn].value = this.inputValue;
                }

                // RESIZE THE CELL
                this.adjustField();

                // TRIGGER EVENT CHANGE
                this.changedValue = true;
                if(typeof atribute.event == 'object' && typeof atribute.event.onChange == 'function'){ 
                    return atribute.event.onChange(atribute, indexLine, indexColumn, this.emitOnkey(indexLine, undefined, 'lineBefore').lineBefore, this.idJobbsOnTable);
                } else {
                    return () => {};
                }
            },
            onInputEnterPressed(){
                if(this.enterIsPress){
                    this.enterIsPress = false;
                    this.moveCell('down');
                }else{
                    this.enterIsPress = true;    
                }
            },
            dragEventMethod(evt){
                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" input").style.display = "none";
                document.getElementById("inputCellFocus"+this.idJobbsOnTable).style.display = "none";
                document.getElementById("selectCellFocus"+this.idJobbsOnTable).style.display = "none";
                this.dragEvent(evt);
            },
            dropEventMethod(evt){
                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" input").style.display = "none";
                document.getElementById("inputCellFocus"+this.idJobbsOnTable).style.display = "none";
                document.getElementById("selectCellFocus"+this.idJobbsOnTable).style.display = "none";
                this.dropEvent(evt);
            },
            moveCell(moviment){
                this.cellActived.lastMoviment = moviment;
                let atribute      = this.cellActived.dataInput;
                let indexLine     = this.cellActived.indexLine;
                let indexColumn   = this.cellActived.indexColumn;
                this.areAmoviment = true;
                let self          = this;
                let areMovimentUpOrDownAutocomplete = false;
                let atributeIsAutoComplete = false;
                try{
                    atributeIsAutoComplete = self.dataWatch[indexLine][indexColumn].atribute.type == 'autocomplete';
                    areMovimentUpOrDownAutocomplete = atributeIsAutoComplete && self.optionsAutocomplete.length > 0;
                }catch(err){}

                // KEYBOARD MOVIMENT EVENTS
                let allowedMoves = {
                    up: function(){
                        try{
                            let indexLine   = self.cellActived.indexLine;
                            let indexColumn = self.cellActived.indexColumn;

                            try{
                                if(areMovimentUpOrDownAutocomplete){
                                    // MOVE UP AUTOCOMPLETE
                                    console.log('move up autocomplete');
                                    return;
                                }
                            }catch(ex){} 

                            if(self.dataWatch[indexLine-1][indexColumn].atribute)
                                eval("self.$refs.tdl"+(indexLine-1)+"c"+indexColumn+"[0].click();");
                        }catch(err){}
                    },
                    down: function(){
                        try{
                            let indexLine   = self.cellActived.indexLine;
                            let indexColumn = self.cellActived.indexColumn;

                            try{
                                if(areMovimentUpOrDownAutocomplete){
                                    // MOVE DOWN AUTOCOMPLETE
                                    console.log('move down autocomplete');
                                    return;
                                }
                            }catch(ex){} 

                            if(self.dataWatch[indexLine+1][indexColumn].atribute)
                                eval("self.$refs.tdl"+(indexLine+1)+"c"+indexColumn+"[0].click();");
                        }catch(err){}
                    },
                    left: function(){
                        try{
                            if(self.enterIsPress){

                                if(document.getElementById("inputCellFocus"+self.idJobbsOnTable).selectionStart == 0){
                                    self.enterIsPress = false;
                                    self.moveCell('left');
                                }

                                if(atributeIsAutoComplete){
                                    if(document.querySelector("#inputCellFocusArea"+self.idJobbsOnTable+" input").selectionStart == 0){
                                        self.enterIsPress = false;
                                        self.moveCell('left');
                                    }
                                }

                            } else {
                                const prevElement = self.cellActived.eventInput.previousElementSibling;
                                const celulaEstaOculta = prevElement.style.display == 'none' && prevElement.tagName == 'TD';                        
                                if(prevElement != null && !celulaEstaOculta){
                                    prevElement.click();
                                }
                            }
                        }catch(err){}
                    },
                    right: function(){
                        try{
                            if(self.enterIsPress){

                                if(document.getElementById("inputCellFocus"+self.idJobbsOnTable).selectionStart == self.cellActived.dataInput.value.length){
                                    self.enterIsPress = false;
                                    self.moveCell('right');
                                }

                                if(atributeIsAutoComplete){
                                    if(document.querySelector("#inputCellFocusArea"+self.idJobbsOnTable+" input").selectionStart == self.cellActived.dataInput.value.length){
                                        self.enterIsPress = false;
                                        self.moveCell('right');
                                    }
                                }

                            }else{
                                const nextElement = self.cellActived.eventInput.nextElementSibling;
                                const celulaEstaOculta = nextElement.style.display == 'none' && nextElement.tagName == 'TD';
                                if(nextElement != null && !celulaEstaOculta){
                                    nextElement.click();
                                }
                            }
                        }catch(err){}
                    }
                };
                allowedMoves[moviment.toLowerCase()]();
                if(!areMovimentUpOrDownAutocomplete){
                    this.triggerFocusDownEvent(atribute, indexLine, indexColumn);
                }
            },
            emitOnkey(lineBefore, lineAfter, type = null){
                var arrLineBefore = [], arrLineAfter = [];

                try{
                    for(var i = 0 ; this.value[lineBefore][i] != undefined || this.value[lineBefore][i+1] != undefined ; i++){
                        try{

                            let valor = this.value[lineBefore][i].value;
                            if(this.value[lineBefore][i].atribute.type == 'money'){
                                valor = valor.replace(".", "").replace(",", ".");
                            }

                            arrLineBefore.push({
                                key : this.value[lineBefore][i].atribute.name,
                                value : valor,
                                indexLine : lineBefore,
                                indexColumn : i,
                            });
                        }catch(err){}
                    }
                }catch(err){}

                try{
                    for(var i = 0 ; this.value[lineAfter][i] != undefined || this.value[lineAfter][i+1] != undefined ; i++){
                        try{

                            let valor = this.value[lineAfter][i].value;
                            if(this.value[lineAfter][i].atribute.type == 'money'){
                                valor = valor.replace(".", "").replace(",", ".");
                            }

                            arrLineAfter.push({
                                key : this.value[lineAfter][i].atribute.name,
                                value : valor,
                                indexLine : lineAfter,
                                indexColumn : i,
                            });
                        }catch(err){}
                    }
                }catch(err){}

                switch(type){
                    case 'up':
                        var retorno = {
                            lineBefore: arrLineBefore,
                            lineAfter:  arrLineAfter
                        };
                        this.$emit('onkeyup', retorno);
                        return retorno; 
                        break;
                    case 'down':
                        var retorno = {
                            lineBefore: arrLineBefore,
                            lineAfter:  arrLineAfter
                        };
                        this.$emit('onFocusDown', retorno);
                        return retorno;
                        break;
                    case 'click':
                        var retorno = {
                            lineBefore: arrLineBefore,
                            lineAfter:  arrLineAfter
                        };
                        this.$emit('onClickLineChange', retorno);
                        return retorno;
                        break;
                    case 'lineBefore': 
                        return {
                            lineBefore: arrLineBefore
                        }
                        break;
                    default:
                        return {
                            lineBefore: arrLineBefore,
                            lineAfter:  arrLineAfter
                        }
                        break;
                }
            },
            clickOnInput(line, column){
                this.enterIsPress = false;
                if(this.lineBefore != line){
                    if(this.lineBefore != null)
                        this.emitOnkey(this.lineBefore, line, 'click');
                    this.lineBefore = line;
                }
            },
            triggerFocusDownEvent(atribute, indexLine, indexColumn){
                // TRIGGER EVENTS
                let coordsChangeNow = 'l'+indexLine+'c'+indexColumn; // create this variable for dont repeat the method onFocusDown()
                let self = this;
                if(typeof atribute.event == 'object' && typeof atribute.event.onFocusDown == 'function' && this.lastChanged != coordsChangeNow){
                    this.lastChanged = coordsChangeNow;
                    setTimeout(() => { self.lastChanged = null }, 100);
                    return atribute.event.onFocusDown(atribute, indexLine, indexColumn, self.emitOnkey(indexLine, undefined, 'lineBefore').lineBefore);
                } else {
                    return () => {};
                }
            },
            maskMoney(i) {
                try{
                    var v = String(i).replace(/\D/g,'');
                    v = (v/100).toFixed(2) + '';
                    v = v.replace(".", ",");
                    v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
                    v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
                    return v;
                }catch(err){
                    return i;
                }
            },
            emitChangeComponent(){
                if(this.changedValue){
                    let atribute    = this.cellActived.dataInput;
                    let indexLine   = this.cellActived.indexLine;
                    let indexColumn = this.cellActived.indexColumn;

                    this.$emit('onChange', this.inputValue, indexLine, indexColumn, atribute, this.emitOnkey(indexLine, undefined, 'lineBefore').lineBefore);
                    this.changedValue = false;
                }
            },
            hiddenAllInputs(){
                document.getElementById("inputCellFocus"+this.idJobbsOnTable).style.display     = "none";
                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable).style.display = "none";
                document.getElementById("selectCellFocus"+this.idJobbsOnTable).style.display    = "none";
            },
            // START METHODS USED BY CLIENT COMPONENT
            removeLine(indexLine){
                this.value.splice(indexLine, 1);
                this.hiddenAllInputs();
            },
            addNewLine(indexLine, valueLine){
                this.value.splice(indexLine, 0, valueLine);
                this.hiddenAllInputs();
            },
            updateLine(indexLine, valueLine){
                this.value[indexLine] = valueLine;
                this.hiddenAllInputs();
            },
            setValueOnCell(indexLine, indexColumn, value, label = null, focusOnCell = false){
                try{
                    let td;
                    eval("td = this.$refs.tdl"+indexLine+"c"+indexColumn+"[0];");

                    try{
                        if(this.value[indexLine][indexColumn].atribute.type == 'money')
                            value = this.maskMoney((value).toFixed(2));
                    }catch(err){}

                    if(typeof this.value[indexLine][indexColumn] == 'string')
                        this.value[indexLine][indexColumn] = value;
                    else
                        this.value[indexLine][indexColumn].value = value;

                    td.innerHTML = value;

                    if(label != null){
                        try{
                            if(typeof this.value[indexLine][indexColumn].atribute.pretext == 'string')
                                label = this.value[indexLine][indexColumn].atribute.pretext+' - '+label;
                        }catch(err){}
                        this.value[indexLine][indexColumn].label = label;
                        td.innerHTML = label;
                    }

                    if(focusOnCell){
                        setTimeout(() => { td.click(); }, 30);
                    }
                }catch(err){}
            },
            setOptionsInFocusedCell(options){
                let htmlOptions = "";
                var eventListener = [];
                this.optionsAutocomplete = options;
                options.forEach((option) => {

                    let moreHTML  = "";
                    if(option.value)
                        moreHTML += " value='"+option.value+"' ";

                    if(typeof option.eventClick == 'function'){
                        const id = Math.random().toString().substr(-Math.random().toString()+3);
                        eventListener.push({
                            id: id,
                            function: option.eventClick
                        });
                        moreHTML += " id='"+id+"' ";
                    }

                    htmlOptions += "<li style='cursor: pointer;' "+moreHTML+" >"+option.label+"</li>";
                });

                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" .autoCompleteArea").style.display = "block";
                document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" #listAutoComplete").innerHTML = htmlOptions;

                // setando os eventos
                eventListener.forEach(function(event){
                    document.getElementById(event.id).addEventListener("click", event.function);
                });

                if(options.length == 0){
                    document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" .autoCompleteArea").style.display = "none";
                }

            }
            // END METHODS USED BY CLIENT COMPONENT
        },
        watch: { // dont do it sheet, fela da puta
            value: function () {
                this.dataWatch = this.handleData(this.value);
            }
        },
        mounted() {
            this.dataWatch = this.handleData(this.value);
            document.querySelector("#inputCellFocusArea"+this.idJobbsOnTable+" .autoCompleteArea").style.display = "none";
        }
    }
</script>

<style scoped>
    .hiddenCellFocus:focus {
        color: transparent !important;
        text-shadow: 0 0 0 #8c8c8c;
        outline: none;
    }
    .jobbsOnTable select{
        color:black !important;
    }
    select:focus{
        text-shadow: 0 0 0 black;
        color: black;
        outline: none;
        
        border: 0px solid #636363 ;
        box-shadow: 0 0 3px #636363 ;
        -moz-box-shadow: 0 0 3px #636363 ;
        -webkit-box-shadow: 0 0 3px #636363 ;
    }
    input:focus {
        text-shadow: 0 0 0 black;
        color: transparent;
        outline: none;
        
        border: 0px solid #636363 ;
        box-shadow: 0 0 3px #636363 ;
        -moz-box-shadow: 0 0 3px #636363 ;
        -webkit-box-shadow: 0 0 3px #636363 ;
    }
    .cellPressed {
        color: black !important;
        text-shadow: 0 0 0 black !important;
        outline: black !important;
        border-radius: 3px !important;
        border: 0px solid #17a2b8 !important;
        box-shadow: 0 0 6px #17a2b8 !important;
        -moz-box-shadow: 0 0 6px #17a2b8 !important;
        -webkit-box-shadow: 0 0 6px #17a2b8 !important;
    }
    .jobbsOnTable .flip-list-move {
        transition: transform 0.5s;
    }
    .jobbsOnTable .no-move {
        transition: transform 0s;
    }
    .jobbsOnTable .ghost {
        opacity: 0.5;
        background: #c8ebfb;
    }
    .menu-box{
        padding: 1px 10px;
        width: auto !important;
    }
    .inputArea .autoCompleteArea{
        background-color: white;
        border-radius: 2px;
        border: 1px solid #00000040;        
    }
    #listAutoComplete{
        padding-left: 5px;
    }
    #listAutoComplete li:hover {
        font-weight: bold;
    } 
    select {
        background-color: white
    }   
</style>
